html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: unset;
}

* {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

header {
  display: flex;
  justify-content: space-between;
}
header .logo {
  max-width: 33%;
}

nav,
ul {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
nav a,
ul a {
  display: flex;
  align-items: center;
}
nav a li,
ul a li {
  text-transform: capitalize;
  color: #FF6060;
}
nav a li:hover,
ul a li:hover {
  text-decoration: underline;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 60px 0px 20px;
  width: 100%;
  background-color: #000000;
  color: white;
}
@media (max-width: 768px) {
  footer {
    padding: 60px 0px 60px;
  }
}
footer img {
  width: 122px;
}

.banner {
  width: 100%;
}
.banner h1 {
  text-align: center;
  font-weight: 500;
  font-size: 3rem;
  z-index: 100;
  position: relative;
  top: 7rem;
  color: #fff;
}
@media (max-width: 1000px) {
  .banner h1 {
    top: 4.5rem;
    font-size: 1.5rem;
    text-align: center;
  }
}
@media (max-width: 1000px) and (max-width: 468px) {
  .banner h1 {
    top: 5rem;
    text-align: left;
    margin-left: 15px;
  }
}
.banner img {
  width: 100%;
  border-radius: 25px;
  filter: brightness(66%);
  -webkit-filter: brightness(66%);
  object-fit: cover;
  object-position: center;
}
@media (max-width: 810px) {
  .banner img {
    height: 111px;
    border-radius: 10px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 340px;
  height: 340px;
  border-radius: 10px;
  background: #FF6060 linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.322) 100%);
}
.card__title {
  color: white;
  margin: 20px;
  font-size: 0.9rem;
  height: 10%;
  align-self: flex-start;
}
.card img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  flex-grow: 10;
}
@media (max-width: 768px) {
  .card {
    width: 100%;
    height: 255px;
  }
}

#cardList {
  background-color: #F7F7F7;
  padding: 3rem 1.5rem;
  border-radius: 25px;
}
#cardList ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 35px;
}
@media (max-width: 768px) {
  #cardList {
    padding: unset;
    background-color: unset;
  }
  #cardList ul {
    flex-direction: column;
    align-content: center;
  }
}

.tag {
  height: fit-content;
  text-align: center;
  width: 115px;
  padding: 4px;
  background-color: #FF6060;
  border-radius: 10px;
  font-size: 0.85rem;
  color: white;
}
@media (max-width: 768px) {
  .tag {
    font-size: 0.65rem;
    width: 84px;
  }
}

#page-error {
  display: flex;
  text-align: center;
  flex-direction: column;
  color: #FF6060;
  height: 100%;
}
#page-error h1 {
  font-size: 18rem;
  font-weight: 700;
}
#page-error p {
  font-size: 2.25rem;
}
#page-error .backHome {
  margin-top: 4rem;
}
#page-error .backHome a {
  text-decoration: underline;
}
@media (max-width: 810px) {
  #page-error h1 {
    font-size: 10rem;
  }
  #page-error p {
    font-size: 1rem;
  }
  #page-error .backHome {
    margin-top: 10rem;
  }
}
@media (max-width: 810px) and (max-width: 428px) {
  #page-error h1 {
    font-size: 6rem;
  }
  #page-error p {
    font-size: 1rem;
  }
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#root .main {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 1rem 100px;
  max-width: 1440px;
  min-height: 100vh;
}
@media (max-width: 810px) {
  #root .main {
    max-width: 100%;
    padding: 1rem 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
