#cardList {
    min-height: 30vh;
    padding: 3rem 1.5rem;

    background-color: $color-light-gray;
    border-radius: $radius-xl;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 35px;
    }

    @media (max-width: 768px) {
        padding: unset;
        background-color: unset;

        ul {
            flex-direction: column;
            align-content: center;
        }
    }
}