.card {
    display: flex;
    flex-direction: column-reverse;

    width: 340px;
    height: 340px;
    border-radius: $radius;

    background: $color-primary linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);

    &__title {
        color: white;
        margin: 20px;
        font-size: 0.9rem;
    }

    @media (max-width: 768px) {
        width: 335px;
        height: 255px;
    }

}