#page-error {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;

  color: $color-primary;

  h1 {
    font-size: 18rem;
    font-weight: 700;
  }

  p {
    font-size: 2.25rem;
  }

  .backHome {
    margin-top: 4rem;

    a {
      text-decoration: underline;
    }
  }

  @media (max-width: 810px) {
    h1 {
      font-size: 10rem;
    }

    p {
      font-size: 1rem;
    }

    .backHome {
      margin-top: 10rem;
    }

    @media (max-width: 428px) {
      h1 {
        font-size: 6rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }
}