$radius: 10px;
$radius-xl: 25px;
$radius-dropdown-xl: 5px;
$radius-dropdown: 10px;

$color-primary: #FF6060;
$color-light-gray: #F6F6F6;
$color-dark: #000000;

$star-checked : $color-primary;
$star-unchecked : #E3E3E3;